apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- ../apps/local-path-storage/kustomization.yaml
- ../apps/local-path-storage/victoria-logs.yaml