#!/bin/bash

CYAN='\033[0;36m'
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
NC='\033[0m'

echo -e "${CYAN}"
cat << "EOF"
=======================================================================
  ____ ___ _     _____ ___  __   __ _     _____ 
 / ___|_ _| |   |  ___/ _ \ \ \ / /| |   | ____|
| |  _ | || |   | |_ | | | | \ V / | |   |  _|  
| |_| || || |___|  _|| |_| |  | |  | |___| |___ 
 \____|___|_____|_|   \___/   |_|  |_____|_____|

  ____ _     _   _ ____ _____ _____ ____  
 / ___| |   | | | / ___|_   _| ____|  _ \ 
| |   | |   | | | \___ \ | | |  _| | |_) |
| |___| |___| |_| |___) || | | |___|  _ < 
 \____|_____|\___/|____/ |_| |_____|_| \_\

               :: WELCOME TO HOMELAB ::
=======================================================================
EOF
echo -e "${NC}"

echo -e "${YELLOW}[*] Загрузка ключей шифрования и конфигурации...${NC}"
export SOPS_AGE_KEY_FILE=.private-files/gilfoyle-flux.age
export KUBECONFIG=.private-files/gilfoyle.yaml

echo -e "${GREEN}[*] Подключение к кластеру успешно. Сбор информации...${NC}\n"
kubectl cluster-info
